@Include("Layout.cshtml")
@Include("../Custom/GlobalVariables.cshtml")
@Include("../Includes/ArticleHelper.cshtml")
@Include("../Includes/GetImage_new.cshtml")

@NewRow() 


<div class="@ColumnClass() homepage-sectiune" style="margin-top: 25px; margin-bottom:0px">
	<h3 class="block-title"><span>@GetString("Item.ParagraphName")</span></h3>

	@RenderFeaturedArticle()
	@RenderArticleList()
	@RenderModule() 
</div>

@helper RenderFeaturedArticle()
{
//int featuredArticle = GetInteger("Item.Featured_Article");
var featuredArticles = GetLoop("Item.Featured_Article");
	if(featuredArticles.Any()){	
  		foreach(LoopItem i in featuredArticles){

				

				string mainImageRaw = i.GetString("Item.Featured_Article.ImaginePrincipala.Value"); 
        		string mainImage = !string.IsNullOrEmpty(mainImageRaw) ? GetImage(mainImageRaw, 730, 355) + "&bgcolor=white" : "/Files/Images/NoImage/540x355.png"; 
							   		
							


				 string mainTitle = i.GetString("Item.Featured_Article.Titlu.Value");
          		 var mainDate = i.GetDate("Item.Featured_Article.Data");
          		 string mainSummary = StripHtmlTagByCharArray(i.GetString("Item.Featured_Article.Sumar"));
          		 string mainURL = i.GetString("Item.Featured_Article.Url");
          		 string mainAutori = i.GetString("Item.Featured_Article.Autori");
				 string articleSectiune = i.GetString("Item.Featured_Article.SectiuneParinte");
				 bool itemConditionVisits = i.GetBoolean("Item.Featured_Article.Vizite");
				 string articleVisits = i.GetString("Item.Featured_Article.Visits.Value");
                 int articleSectiuneID = i.GetInteger("Item.Featured_Article.SectiuneParinteId");
      			 string mainSections = "";
				
				
                List<Autor> articleAutori = GetAutori(mainAutori);
      			List<Sectiune> articleSections = GetSectiuni(mainSections);

				<article class="news-block">
					 <a href="@mainURL" class="overlay-link">
                  
                
						<figure class=" ">
							@if(!string.IsNullOrEmpty(i.GetString("Item.Featured_Article.ImaginePrincipala.Value"))){
							<img src="@mainImage" alt="@mainTitle" class="img-responsive" />
							}else{
							<img src="/Files/Images/NoImage/540x355.png" alt="@mainTitle" />
                          	}
						</figure>
                   <a href='/Default.aspx?ID=@articleSectiuneID' class="bg@(articleSectiuneID) category">@articleSectiune</a>
					</a>
              

					@foreach (var articleSection in articleSections)
		            {
		                <a href="#" class="category bgcolor3">@articleSectiune</a>
		            }
					<header class="news-details">
						<h3 class="news-title"> <a href='@mainURL' alt='@mainTitle'>@mainTitle</a></h3>
					    	<p>@mainSummary</p>
					        <p class="simple-share">@Translate("articolde","de")  
					        @foreach (var articleAutor in articleAutori)
				            {
				                <a href="@articleAutor.Link"><b>@articleAutor.Name</b></a>
				            }
					        - <span class="article-date"><i class="fa fa-clock-o"></i> @mainDate.ToString("dd/MM/yyyy")</span>
                              @if (itemConditionVisits) {    
                                            <span>  -  <i class="fa fa-eye"></i> @articleVisits vizualizari</span>
              				  }
							</p>
					</header>  
				</article><!-- News block -->	

				

        }
	}
}

@helper RenderArticleList()
{

string filterValue = "";
int count = 1;
if(GetLoop("Item.Featured_Article").Any()){	
	filterValue = filterValue + "\"@\"";
	foreach(LoopItem exclusion in GetLoop("Item.Featured_Article")){
		if (count == 1) {
			filterValue = filterValue + "Item.Id!=" + exclusion.GetString("Item.Featured_Article.Id");
		} else {
			filterValue = filterValue + " and Item.Id!=" + exclusion.GetString("Item.Featured_Article.Id");
		}
		
		count++;
	}
	filterValue = filterValue + "\"\"";
}

string listTemplate = "ItemPublisher/List/Loop-" + GetString("Item.Display") + ".cshtml";
int listSize = GetInteger("Item.ListSize") > 0 ? GetInteger("Item.ListSize") : 10;

	@RenderItemList(new { 
		ItemType = "Dw_Page",
		ListSourceType = "Page",
		ListSourcePage = GetString("Item.Section"),
		ItemFieldsList = "*",
		ListTemplate = listTemplate,
		ListPageSize = listSize,
		ListOrderBy = "Data",
		ListOrderByDirection = "Descending",
		Filter = filterValue
		
	})

}


@helper RenderModule()
{
	@GetString("ParagraphModule")
}


@foreach(LoopItem j in GetLoop("Item.Featured_Article")){

	string articleSectiune = j.GetString("Item.Featured_Article.SectiuneParinte");
 	int articleSectiuneID = j.GetInteger("Item.Featured_Article.SectiuneParinteId");

 	<div class="col-md-12 col-xs-12 load-more">
      <a href="/Default.aspx?ID=@articleSectiuneID"><button type="button" class="btn btn-lg btn-block">@Translate("maimulte","Mai multe")</button></a>
    </div>

}


                