@Include("../Custom/GlobalVariables.cshtml")
<style>
  .owl-carousel .owl-item img {width:auto!important;}
</style>
<h3 class="block-title"><span>@GetString("Item.Titlu")</span></h3>
<div class="col-md-12">
  <h4><span>@GetString("Item.Titlu")</span></h4>
  <div class="carousel-companii">
  <div class="owl-carousel owl-companii-1 owl-theme"> 


@foreach(LoopItem companie in GetLoop("Item.Lista_Companii")){




      	string mainImage = companie.GetString("Item.Lista_Companii.Logo"); 
       	string mainTitle = companie.GetString("Item.Lista_Companii.Titlu");
       @*string mainURL = i.GetString("Ecom:Product.LinkGroup.Clean"); *@
		string  descriere = companie.GetString("Item.Lista_Companii.Descriere");
    
  		    <div class="item"> 
    
 			   <a href="#"><img src="/Admin/Public/GetImage.ashx?Image=@mainImage&altFmImage_path=/Files/Images/NoImage/160x120.png&Format=jpg&Width=160&Height=120&Crop=5" alt="@mainTitle" /></a>
           
    			<h3>@mainTitle</h3>
                    
    		<p>@descriere</p> 
    		
          </div>   
   
  
  }
 </div>
</div>
  </div>