@using Dynamicweb.Content;
@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using System
@using System.Web;
@using System.Collections;
@using System.Collections.Generic
@using System.Linq;
@using Dynamicweb.Content.Items
@Include("../Custom/GlobalVariables.cshtml")
@Include("../Includes/ArticleHelper.cshtml")
@Include("../Includes/GetImage_new.cshtml")
@{
	int count = 1;
	int iteration = 0;
    var pageId = GetPageIdByNavigationTag("ArticlesFeed");
    var articlesSlides = "";
    foreach (LoopItem i in GetLoop("Item.Slides"))
    {
      var slideId = i.GetString("Item.Slides.Id");
      var pageService = new Dynamicweb.Content.PageService();
      articlesSlides += pageService.GetPageForItem("Dw_Page", slideId.ToString()).ID + ",";

    }
}


<div class="row">
  <div class="col-md-12">
    <div class="flexslider">
      <div class="featured-slider" id="HomePageSlider" data-template="HomepageSliderTemplate" data-json-feed="/Default.aspx?ID=@pageId&PageID=@articlesSlides">
        
            @*HANDLEBARS TEMPLATE GOES HERE*@
      </div>
    </div>
  </div>
</div>

<script id="HomepageSliderTemplate" type="text/x-handlebars-template">
<div class="slider-item" >
  <div class="row">
  {{#ArticlesContainer}}
   {{#each Article}}
   
   {{#ifCond sliderCounter "===" 1}}
      <div class="col-md-8 omega">
        <div class="featured-big">
          <div class="tag-categorie-container">
                  <a href='/Default.aspx?ID={{itemSectiuneParinteId}}' class="bg{{itemSectiuneParinteId}} category">{{itemSectiuneParinte}}</a>
          </div> 
          
          <div class="featured-href">
            <figure class="image-overlay2">
              <img src='/Admin/Public/GetImage.ashx?Image={{itemImaginePrincipala}}' alt="{{itemTitlu}}"/>
            </figure>
           
          <div class="featured-header">
            <a  href="{{mainURL}}">
             <h2 style="color:white;">{{itemTitlu}}</h2>
              <p class="simple-share">
                @Translate("articolde","de")
               {{#articleAutori}}
                                {{Name}}
                {{/articleAutori}} 
                <span class="article-date">{{itemData}}</span>
              </p>
               </a>
            </div>
          </div>
        </div>
      </div>
   {{/ifCond}}
   
   {{#ifCond sliderCounter "===" 2}}
   <div class="col-md-4 alpha">
      <div class="featured-small featured-top">
          <div class="tag-categorie-container">
            <a href='/Default.aspx?ID={{itemSectiuneParinteId}}' class="bg{{itemSectiuneParinteId}} category">{{itemSectiuneParinte}}</a>
        </div> 
          <div  class="featured-href">
            <figure class="image-overlay2">
              <img src='/Admin/Public/GetImage.ashx?Image={{itemImaginePrincipala}}' alt="{{itemTitlu}}"/>
            </figure>
          
            <div class="featured-header">
              <a href="{{mainURL}}">
              {{#articleSections}}
                <span class="category bgcolor5">{{Name}}</span>
              {{/articleSections}}
              <h2 style="color:white;">{{itemTitlu}}</h2>
              <p class="simple-share">
                 @Translate("articolde","de")
                 {{#articleAutori}}
                   {{Name}}
                 {{/articleAutori}}
                <span class="article-date">{{itemData}}</span>
              </p>
            </a>
            </div>
          </div>
        </div>
      
   {{/ifCond}}
   
    {{#ifCond sliderCounter "===" 0}}
            <div class="featured-small" >
            <div class="tag-categorie-container">
              <a href='/Default.aspx?ID={{itemSectiuneParinteId}}' class="bg{{itemSectiuneParinteId}} category">{{itemSectiuneParinte}}</a>
          </div> 
             <div class="featured-href">
               <figure class="image-overlay2">
              <img src='/Admin/Public/GetImage.ashx?Image={{itemImaginePrincipala}}' alt="{{itemTitlu}}"/>
               </figure>
           
               <div class="featured-header">
                 <a href="{{mainURL}}" >
                 {{#articleSections}}
                  <span class="category bgcolor4">{{Name}}</span>
                 {{/articleSections}}
                 <h2 style="color:white;">{{itemTitlu}}</h2>
                 <p class="simple-share">
                    @Translate("articolde","de")
                    {{#articleAutori}}
                     {{Name}}
                   {{/articleAutori}}
                   <span class="article-date">{{itemData}}</span>
                 </p>
               </a>
               </div>
             </div>
           </div>
          </div>
        </div> 
      </div>
      {{#ifCond isLast '===' false}}
      <div class='slider-item'><div class='row'>
      {{/ifCond}}  
      
              
    {{/ifCond}}

   {{/each}}
  {{/ArticlesContainer}}
   </div>
  </div>
</script>

