@using Dynamicweb.Content;
@inherits Dynamicweb.Rendering.RazorTemplateBase<Dynamicweb.Rendering.RazorTemplateModel<Dynamicweb.Rendering.Template>>
@using System
@using System.Web;
@using System.Collections;
@using System.Collections.Generic
@using System.Linq;
@using Dynamicweb.Content.Items
@Include("../Custom/GlobalVariables.cshtml")
@Include("../Includes/ArticleHelper.cshtml")
@Include("../Includes/GetImage_new.cshtml")
@{
	int count = 1;
	int iteration = 0;
    var pageId = GetPageIdByNavigationTag("ArticlesFeed");
    var articlesSlides = "";
    foreach (LoopItem i in GetLoop("Item.Slides"))
    {
      var slideId = i.GetString("Item.Slides.Id");
      var pageService = new Dynamicweb.Content.PageService();
      articlesSlides += pageService.GetPageForItem("Dw_Page", slideId.ToString()).ID + ",";

    }
}


<div class="row">
    <div class="col-md-12">
        <div class="flexslider">
            <div class="featured-slider">
                <div class="slider-item">
                   
                        
                    <div class="" id="HomePageSlider" data-template="HomepageSliderTemplate" data-json-feed="/Default.aspx?ID=@pageId&PageID=@articlesSlides"></div>
                        
                   
                </div>
            </div>
        </div>
    </div>
</div>
<script id="HomepageSliderTemplate" type="text/x-handlebars-template">
 <div class="row">
 {{#.}} 
 {{#ArticlesContainer}}
 {{#Article}}
 
 {{#ifCond sliderCounter "===" 1}}
    <div class="col-md-8 omega">
      <div class="featured-big">
        <div class="tag-categorie-container">
                <a href='/Default.aspx?ID={{itemSectiuneParinteId}}' class="bg{{itemSectiuneParinteId}} category">{{itemSectiuneParinte}}</a>
        </div> 
        
        <div class="featured-href">
          <figure class="image-overlay2">
            <img src='{{mainImage}}' alt="{{mainTitle}}"/>
          </figure>
         
        <div class="featured-header">
          <a  href="{{mainURL}}">
           <h2 style="color:white;">{{mainTitle}}</h2>
            <p class="simple-share">
              @Translate("articolde","de")
             {{#articleAutori}}
                              {{Name}}
              {{/articleAutori}} 
              <span class="article-date">{{mainDate}}</span>
            </p>
             </a>
          </div>
        </div>
      </div>
    </div>
 {{/ifCond}}
 
 {{#ifCond sliderCounter "===" 2}}
    <div class="featured-small featured-top">
        <div class="tag-categorie-container">
          <a href='/Default.aspx?ID={{itemSectiuneParinteId}}' class="bg{{itemSectiuneParinteId}} category">{{itemSectiuneParinte}}</a>
      </div> 
        <div  class="featured-href">
          <figure class="image-overlay2">
            <img src='{{mainImage2}}' alt="{{mainTitle}}"/>
          </figure>
        
          <div class="featured-header">
            <a href="{{mainURL}}">
            {{#articleSections}}
              <span class="category bgcolor5">{{Name}}</span>
            {{/articleSections}}
            <h2 style="color:white;">{{mainTitle}}</h2>
            <p class="simple-share">
               @Translate("articolde","de")
               {{#articleAutori}}
                 {{Name}}
               {{/articleAutori}}
              <span class="article-date">{{mainDate}}</span>
            </p>
          </a>
          </div>
        </div>
      </div>
 {{/ifCond}}
 
  {{#ifCond sliderCOunter "===" 0}}
    <div class="featured-small" >
        <div class="tag-categorie-container">
          <a href='/Default.aspx?ID={{itemSectiuneParinteId}}' class="bg{{itemSectiuneParinteId}} category">{{itemSectiuneParinte}}</a>
      </div> 
         <div class="featured-href">
           <figure class="image-overlay2">
             <img src='{{mainImage2}}' alt="{{mainTitle}}"/>
           </figure>
       
           <div class="featured-header">
             <a href="{{mainURL}}" >
             {{#articleSections}}
              <span class="category bgcolor4">{{Name}}</span>
             {{/articleSections}}
             <h2 style="color:white;">{{mainTitle}}</h2>
             <p class="simple-share">
                @Translate("articolde","de")
                {{#articleAutori}}
                 {{Name}}
               {{/articleAutori}}
               <span class="article-date">{{mainDate}}</span>
             </p>
           </a>
           </div>
         </div>
       </div>
                
  {{/ifCond}}

 {{/Article}}
 {{/ArticlesContainer}}
 {{/.}}
 </div>
</script>



@*
<div class="row">
	<div class="col-md-12">
	   @if(GetLoop("Item.Slides").Any()){	
      var slidesLength = GetLoop("Item.Slides").Count;
      <div class="flexslider">
        <div class="featured-slider">
          <div class="slider-item">
            <div class="row">
              @foreach(LoopItem i in GetLoop("Item.Slides")){
                iteration++;
                              
                              
		
							string mainImageRaw = i.GetString("Item.Slides.ImaginePrincipala.Value");
        					string mainImage1 = !string.IsNullOrEmpty(mainImageRaw) ? GetImage(mainImageRaw, 760, 510) + "&bgcolor=white" : "/Files/Images/NoImage/760x500.png";   		
							
              			
              				string mainImage2 = !string.IsNullOrEmpty(mainImageRaw) ? GetImage(mainImageRaw, 365, 250) + "&bgcolor=white" : "/Files/Images/NoImage/365x250.png";   		
								

                              string mainTitle = i.GetString("Item.Slides.Titlu.Value");
                              var mainDate = i.GetDate("Item.Slides.Data");
                              string mainSummary = i.GetString("Item.Slides.Sumar");
                              string mainURL = i.GetString("Item.Slides.Url");
                              string mainAutori = i.GetString("Item.Slides.Autori");
                              string mainSections = "";
              				  string articleSectiune = i.GetString("Item.Slides.SectiuneParinte");
              				  int articleSectiuneID = i.GetInteger("Item.Slides.SectiuneParinteId");
               				  List<Autor> articleAutori = GetAutori(mainAutori);
                              List<Sectiune> articleSections = GetSectiuni(mainSections);
                              int mod3 = count % 3;
                //Dynamicweb.Content.Page mainPage = Dynamicweb.Content.IPageService.GetPageForItem(i.GetString("Item.Slides.SystemName"),i.GetString("Item.Slides.Id"));
                                            
                //Page mainPage = Dynamicweb.Content.IPageService.GetPageForItem("Dw_Page","13779");


              if (mod3 == 1){
              <div class="col-md-8 omega">
                <div class="featured-big">
                  <div class="tag-categorie-container">
              		    <a href='/Default.aspx?ID=@articleSectiuneID' class="bg@(articleSectiuneID) category">@articleSectiune</a>
                	</div> 
                  <div class="featured-href">
                    <figure class="image-overlay2">
                      <img src='@mainImage1' alt="@mainTitle"/>
                    </figure>
                	 
                  <div class="featured-header">
                    <a  href="@mainURL">
                     <h2 style="color:white;">@mainTitle</h2>
                      <p class="simple-share">
                        @Translate("articolde","de")
                        @foreach (var articleAutor in articleAutori)
                        {
                            @articleAutor.Name
                        }    
                        <span class="article-date">@mainDate.ToString("dd/MM/yyyy")</span>
                      </p>
                   	 </a>
                    </div>
                  </div>
                </div>
              </div>
  			} else if(mod3 == 2){
              @("<div " + "class='col-md-4 alpha'>")
                
                  <div class="featured-small featured-top">
                    <div class="tag-categorie-container">
              		    <a href='/Default.aspx?ID=@articleSectiuneID' class="bg@(articleSectiuneID) category">@articleSectiune</a>
                	</div> 
                    <div  class="featured-href">
                      <figure class="image-overlay2">
                        <img src='@mainImage2' alt="@mainTitle"/>
                      </figure>
                    
                      <div class="featured-header">
                        <a href="@mainURL">
                        @foreach (var articleSection in articleSections)
              {
                            <span class="category bgcolor5">@articleSection.Name</span>
                        }
                        <h2 style="color:white;">@mainTitle</h2>
                        <p class="simple-share">
                           @Translate("articolde","de")
                           @foreach (var articleAutor in articleAutori)
              {
                  @articleAutor.Name
                            }   
                          <span class="article-date">@mainDate.ToString("dd/MM/yyyy")</span>
                        </p>
                      </a>
                      </div>
                    </div>
                  </div>
              } else if (mod3 == 0) {
              	<div class="featured-small" >
                  	<div class="tag-categorie-container">
              		    <a href='/Default.aspx?ID=@articleSectiuneID' class="bg@(articleSectiuneID) category">@articleSectiune</a>
                	</div> 
                    <div class="featured-href">
                      <figure class="image-overlay2">
                        <img src='@mainImage2' alt="@mainTitle"/>
                      </figure>
                  
                      <div class="featured-header">
                        <a href="@mainURL" >
                        @foreach (var articleSection in articleSections)
              			{
                            <span class="category bgcolor4">@articleSection.Name</span>
                        }
                        <h2 style="color:white;">@mainTitle</h2>
                        <p class="simple-share">
                           @Translate("articolde","de")
                           @foreach (var articleAutor in articleAutori)
              				{
                  				@articleAutor.Name
                            }   
                          <span class="article-date">@mainDate.ToString("dd/MM/yyyy")</span>
                        </p>
                      </a>
                      </div>
                    </div>
                  </div>
              if (iteration < slidesLength) {
                 @("</div>"+ "</div><!-- .row --></div><!-- .slider-item -->" + "<div class='slider-item'><div class='row'>")
              }    
              if (iteration == slidesLength) {
                 @("</div>"+ "<!-- .row --><!-- .slider-item -->")
              }
            }
            
  				count++;
              	}
               </div><!-- .row -->
            </div><!-- .slider-item -->
        </div><!-- .featured-slider -->
      </div><!-- .flexslider -->
          
          		
			}
		</div>
	</div>
	*@
	