<div class="row">
<div class="col-xs-6">
<h2 class="account-heading">@Translate("iHaveAccount", "Am un cont")</h2>
<div class="account-content">
  @if(!string.IsNullOrEmpty(GetString("DW_extranet_error_uk"))){
      <div class="error" id="errors"><i class="fa fa-exclamation-triangle"></i>@Translate("Datele introduse nu sunt valide.","Datele introduse nu sunt valide.")</div>
  }
  <form id="login" name="ExtUserForm" method="post" action='@GetString("DWExtranetAction")'>
    <input type="hidden" name="ID" value='@Pageview.Page.ID'>
    <input type="hidden" name="DWExtranetUsernameRemember" value="True">
    <input type="hidden" name="DWExtranetPasswordRemember" value="True">
     @if(!string.IsNullOrEmpty(GetString("UserManagement:User.Login.SuccessRedirectToPage"))){
      <input type="hidden" name="Redirect" value='@GetValue("UserManagement:User.Login.SuccessRedirectToPage")' />
    }
    <div class="form-group">
      <label class="col-sm-3 control-label">@Translate("username", "Utilizator")</label>
      <div class="col-sm-9">
        <input type="text" name="username" class="form-control" style="border:#000000 1px solid" value='@(GetValue("Server:Request.username") != null ? GetValue("Server:Request.username") : "")' autocomplete="off" />
      </div>      
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3">@Translate("password", "Password")</label>
      <div class="col-sm-9">
        <input type="password" name="password" class="form-control" style="border:#000000 1px solid"  value='@(GetValue("Server:Request.password") != null ? GetValue("Server:Request.password") : "")' autocomplete="off" />
      </div>      
    </div>
    <div class="form-group">
      <input type="submit" class="btn-green btn-action button-color btn btn-primary" value='@Translate("enterAccount", "Autentifica-te")' />
      <a href="/Default.aspx?id=@GetGlobalValue("Global:Page.ID")&amp;LoginAction=Recovery" class="reset-password">@Translate("forgotPassword", "Resetare parola")</a>    
    </div>
  </form>


 <div><a href="/Default.aspx?ID=4255" class="btn-green btn-action button-color btn btn-primary">@Translate("create new user", "Creeaza cont")</a> @Translate("contNou","Daca nu aveti cont, click pentru a va inregistra") 
 </div>



</div>      
</div> 
@* <div class="col-xs-6">
<h2 class="account-heading">@Translate("connect", "Connect with other accounts")</h2>            
<div class="account-content login-social">        
  <div class="social clearfix">
    <a href='/Default.aspx?ID=47&returnUrl=@(GetGlobalValue("Global:Pageview.Url"))' class="facebook-login" rel="nofollow"><i class="fa fa-facebook-square"></i>Facebook</a>
    <a href='/Default.aspx?ID=48&returnUrl=@(GetGlobalValue("Global:Pageview.Url"))' class="google-login" rel="nofollow"><i class="fa fa-google-plus-square"></i>Google+</a>
  </div>        
</div>  
</div> *@
</div>