@TemplateTags()
@if(GetString("UserManagement:User.Login.Action") == "Recovery"){
    <div class="col-sm-6">
      <div class="row">
          <h2 class="account-heading">@Translate("Recupereaza parola","Recupereaza parola")</h2>
          <div class="account-content">        
              <form method="post" action='/Default.aspx?id=@Pageview.Page.ID&LoginAction=Recovery' id="password-recovery">
                  <input type="hidden" name="ForgotPasswordMailTemplate" value='@GetValue("UserManagement:User.Login.EmailTemplate")' />
                  <input type="hidden" name="ForgotPasswordSenderEmail" value='@GetValue("UserManagement:User.Login.EmailSender")' />
                  <input type="hidden" name="ForgotPasswordMailSubject" value='@GetValue("UserManagement:User.Login.EmailSubject")' />
                  @if(GetBoolean("UserManagement:User.Login.FoundUsersCount")){
                    <p>asd</p>
                    if(GetString("UserManagement:User.Login.FoundUsersCount") == "0") {                    
                      <div class="info-pane error"><p>@Translate("Utilizatorul nu a fost gasit!","Utilizatorul nu a fost gasit!")</p></div>
                    }
                  }
                  @foreach (LoopItem i in GetLoop("UserManagement:User.Login.Fields")){
                    
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="@i.GetValue("Field.Name")">@i.GetValue("Field.Title"):</label>
                      <div class="col-sm-9">
                          <input type="text" name='@i.GetValue("Field.Name")' id='@i.GetValue("Field.Name")' class="form-control" autocomplete="off" required />               
                          @if(GetBoolean("Field.Error")) {
                              <label class="error" for='@i.GetValue("Field.Name")'>@i.GetValue("Field.Error")</label>
                          }                 
                      </div>
                    </div>
                                   
                  }
                 @*  <input type="submit" class="btn-login" value='Recovery'> *@
                  <div class="form-group">
                      <button type="submit" name="LoginAction" class="btn-action" value="Recovery">@Translate("Submit","Trimite")</button>
                  </div>
              </form>
          </div>
      </div>
    </div>
   
}

    @if(GetString("UserManagement:User.Login.Action") == "RecoveryLinkSent") {
    <div class="info-pane">
        <div class="title">Check Your Email</div>
        <div class="body">
            Check your email - we sent you an email with a link. Click it to continue to reset your password.
        </div>
    </div>
    }

    <!--@If(UserManagement:User.Login.Action=NewPasswordForm)-->
        <!--@If(UserManagement:User.Login.RecoveryToken.FoundUser!=True)-->
        <div class="info-pane">
            <div class="title">Uh oh! Something went wrong.</div>
            <div class="body">
                Try recover password <a href="/default.aspx?id=@GetValue("Global:Page.ID")">again<a>.
            </div>
        </div>
        <!--@EndIf-->
    
        <!--@If(UserManagement:User.Login.RecoveryToken.FoundUser=True && UserManagement:User.Login.RecoveryToken.OutOfDate=True)-->
        <div class="info-pane">
            <div class="title">The recovery password link out of date.</div>
            <div class="body">
                The recovery password link out of date. Try recover password <a href="/default.aspx?id=@GetValue("Global:Page.ID")">again<a>.
            </div>
        </div>
        <!--@EndIf-->
        <!--@If(UserManagement:User.Login.RecoveryToken.FoundUser=True && UserManagement:User.Login.RecoveryToken.OutOfDate!=True)-->
        <h3 class="head">
            Choose a new password
            <br />
            <small>
                <strong>Notice:</strong> A strong password is a combination of letters and punctuation marks.
            </small>
        </h3>
        <form method="post" action="/Default.aspx?id=@GetValue("Global:Page.ID")">
            <input type="hidden" name="RecoveryToken" value="@GetValue("UserManagement:User.Login.RecoveryToken")" />
            <input type="hidden" name="ForgotPasswordMailTemplate" value="@GetValue("UserManagement:User.Login.EmailTemplate")" />
            <input type="hidden" name="ForgotPasswordSenderEmail" value="@GetValue("UserManagement:User.Login.EmailSender")" />
            <input type="hidden" name="ForgotPasswordMailSubject" value="@GetValue("UserManagement:User.Login.EmailSubject")" />
    
            <div class="pr-field">
                <label class="title" for="@GetValue("UserManagement:User.Login.Field.NewPassword.Name")">
                    New Password:
                </label>
                @GetValue("UserManagement:User.Login.Field.NewPassword.Input")
                <!--@If Defined(UserManagement:User.Login.Field.NewPassword.Error)-->
                <label class="error" for="@GetValue("UserManagement:User.Login.Field.NewPassword.Name")">@GetValue("UserManagement:User.Login.Field.NewPassword.Error")</label>
                <!--@EndIf-->
            </div>
            <div class="pr-field">
                <label class="title" for="@GetValue("UserManagement:User.Login.Field.NewPasswordConfirm.Name")">
                    Confirm Password:
                </label>
                @GetValue("UserManagement:User.Login.Field.NewPasswordConfirm.Input")
                <!--@If Defined(UserManagement:User.Login.Field.NewPasswordConfirm.Error)-->
                <label class="error" for="@GetValue("UserManagement:User.Login.Field.NewPasswordConfirm.Name")">@GetValue("UserManagement:User.Login.Field.NewPasswordConfirm.Error")</label>
                <!--@EndIf-->
            </div>
            <div class="pr-field commands">
                <button type="submit" name="LoginAction" value="ChangePassword">Submit</button>
            </div>
        </form>
        <!--@EndIf-->
    <!--@EndIf-->

    <!--@If(UserManagement:User.Login.Action=PasswordChanged)-->
    <div class="info-pane">
        <div class="title">Congratulations!</div>
        <div class="body">
            Password changed
        </div>
    </div>
	<!--@EndIf-->
