@foreach (LoopItem i in GetLoop("FormValidationErrors")){
	@i.GetValue("HeaderStart")
    <div id="errormessages">
      <ul>
    	@i.GetValue("HeaderEnd")
    	<li>Error in the input field "@i.GetValue("UserManagement:User.FormValidationError.FieldNiceName")": <a href="javascript:document.getElementById('@i.GetValue("UserManagement:User.FormValidationError.FieldName")').focus();">@i.GetValue("UserManagement:User.FormValidationError.Message")</a></li>
    	@i.GetValue("FooterStart")
      </ul>
    </div>
	@i.GetValue("FooterEnd")
}
@{
	var termeniSiContitiiPageUrl = "/Default.aspx?ID=" + GetPageIdByNavigationTag("termsAndConditions");
}
@GetValue("UserManagement:User.FormStart")		
	<input name="UserManagement_Form_Email" type="text" class="form-control"  id="UserManagement_Form_Email" placeholder='@Translate("AdresaEmail","Adresa de email")'>
		
	<input type="text" id="Nume" name="Nume" class="form-control" placeholder='@Translate("Nume","Nume")' required />
	<div class="display-flex">
		<input class="subscribe-checkbox" type="checkbox" id="Suntdeacordcutermeniisiconditiilettonlinero" name="Suntdeacordcutermeniisiconditiilettonlinero"  checked="checked"/>
		<p>	@Translate("SuntDeAcord", "Sunt de acord cu ") <a class="termeniSiConditiiUrl" href="@termeniSiContitiiPageUrl">@Translate("termenii si conditiile")</a> @Translate("ttonline.ro") </p>
	</div>
	<input type="submit" id="submitter" value='@Translate("Subscribe", "Abonează-te la newsletter")' class="btn btn-primary">
<p class="error-message hidden">@Translate("agreeTerms")</p>


	<div style="display:none;">
      <input name='@GetValue("UserManagement:User.EmailAllowed.InputName")' type="checkbox" id='@GetValue("UserManagement:User.EmailAllowed.InputName")' value="True" checked="checked" />
	  @GetValue("UserManagement:User.EmailAllowed.Hidden.Input")
	</div>
@GetValue("UserManagement:User.FormEnd")