@using System.Web;
@MasterPageFile("Master.cshtml")
@{
    string issuuCode = GetString("Item.Cod_ISSUU.Value");
    string pageItemID =  GetString("Item.Id");
	string filterValue = "\"@\"" + "Item.Editie ==" + pageItemID ;
    	   filterValue = filterValue + "\"\"";
 string activeURL = GetString("DWExtranetAction");  


    int articleListCurrentPage = HttpContext.Current.Request.Params["page"] != null ? Int32.Parse(HttpContext.Current.Request.Params["page"]) : 0;
    string test = "rrr";
    ////e.issuu.com/embed.html#
}

<div class="col-md-8">
	<div class="row">
		<div class="col-md-12">
			<h1 class="block-title"><span><a href="#">@GetString("Item.Titlu.Value")</a></span></h1>
		</div>
		
        @if(!string.IsNullOrEmpty(GetString("Item.Cod_ISSUU.Value")) && articleListCurrentPage < 2 ){
        <div class="col-md-12">
          <style>
          .issuuWrapper {
          position: relative;
          padding-bottom: 56.25%; /* 16:9 */
          padding-top: 25px;
          height: 0;
          }
          .issuuWrapper iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          }
        </style>
  
          
  
          <div class="issuuWraper">
          <iframe width="740" height="500" src="@issuuCode&hideIssuuLogo=true&showOtherPublicationsAsSuggestions=false&u=tehnica_si_tehnologie" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
		}
  

	
  

	</div>

  
  
<h3 class="block-title"></h3>

		@RenderItemList(new { 
					ItemType = "Dw_Page",
					ListSourceType = "Area",
					ListSourceArea = 1,
					ItemFieldsList = "*",
					ListTemplate = "ItemPublisher/List/LoopSectionLandingPage.cshtml",
					ListPageSize = 10,
					ListOrderBy = "Data",
					ListOrderByDirection = "Descending",
					Filter = filterValue
		})


<a class="btn btn-primary" href="/Default.aspx?ID=3533" style="margin-bottom:20px;">Vezi toate editiile</a>

</div>


<div class="col-md-4" data-stickycolumn=""><!--aici incepe sidebar-->
  
			@Include("Custom/Sidebar.cshtml")
			                        	               
</div><!--se inchide divul pentru sidebar-->     

<!-- Google Analytics -->
@*<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-26068739-1', 'auto');


// START DIMENSIUNI

// DIMENSIUNI PENTRU Romanian Industry Zoom:
var dw_editie = '@GetString("Item.Titlu.Value")';
  //var dw_autor = 'NUME_AUTOR';
  //var dw_companie = 'NUME_COMPANIE';
  var dw_data_aparitie = '@GetDate("Item.Data.Value").ToString("dd/MM/yyyy")'; // format dd.mm.yyyy

ga('set', 'dimension1', dw_editie);
  //ga('set', 'dimension2', dw_autor);
  //ga('set', 'dimension3', dw_companie);
  ga('set', 'dimension9', dw_data_aparitie);

// END DIMENSIUNI


ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>*@
<!-- End Google Analytics -->

<script>

  $(function(){

    function getURL(url) {
        name = url.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]').replace("&amp;" , "&").replace("&amp;" , "&");

        return name;
    }

    // get URL value
    var query = getURL("@activeURL");
    var listOfLi =  $("ul.pagination.pagination-sm li a");

    // if the URL does not contains 'page' , make the first li active
    // if(query.indexOf("page") != 0) {
    //   $("ul.pagination.pagination-sm li").eq(0).addClass("active");
    // } else {
    //   $("ul.pagination.pagination-sm li").eq(0).removeClass("active");
    // }

    var firstTimeOnPage = _.includes(query , "page");

    if(!firstTimeOnPage) {
      $("ul.pagination.pagination-sm li:first").addClass("active");
    }


    // check if URL value is equal to any of li's URL value
    _.map(listOfLi , function(obj){
      var liURL = $(obj).attr("href").replace("/" , "");

      if(liURL == query) {
        $(obj).parent().addClass("active");
      }

    }); 

  });


</script> 

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>                    
