@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering
@using Dynamicweb.Content
@using System.Linq;
@using System.Web;
@using Dynamicweb.Content.Items;
@MasterPageFile("Master.cshtml")
@GetValue("Title(Pagina Autor)")
@GetValue("Description(Pagina de Autor)")
@Include("Includes/ArticleHelper.cshtml")
@Include("Includes/GetImage_new.cshtml")
@Include("Includes/New_PlaceholderHelpers.cshtml")
@using System.Web

@{
    var autoriPageID = GetPageIdByNavigationTag("ArticlesFeed").ToString();
    string queryAutor = HttpContext.Current.Request.QueryString["autor"];
    var url = "/Default.aspx?ID="+autoriPageID+"&pagesize=12";
    if (!string.IsNullOrEmpty(queryAutor))
    {
        url += "&Autori="+ queryAutor;
    }
    var autorPageID = GetPageIdByNavigationTag("AutoriFeed").ToString();
    var urlAutor = "/Default.aspx?ID="+autorPageID;
    if (!string.IsNullOrEmpty(queryAutor))
    {
        urlAutor += "&autor="+ queryAutor;
    }
}

  <div class="row blog-content author" data-stickyparent>
  	<div class="col-md-8" data-stickycolumn>
    	<article class="post-wrapper clearfix">
        <header class="post-header clearfix">
          <div class="row">
          <div class="col-xs-12">
              <div class="first-container" id="LoopAutor" data-template="LoopAutorTemplate" data-json-feed="@urlAutor">
                  <div id="loader"></div>
              </div>
                 
          </div>
          </div>
        </header>
            <div class="post-content clearfix">
       <div class="row">
          <div class="col-xs-12">
              <div class="handlebars-wrapper" id="LoopAutori" data-template="LoopAutoriTemplate" data-json-feed="@url">
                  <div id="loader"></div>
                    <ul class="widget-content">
                      @RenderPlaceholderImageOnLeft()
                      @RenderPlaceholderImageOnLeft()
                      @RenderPlaceholderImageOnLeft()
                      @RenderPlaceholderImageOnLeft()
                      @RenderPlaceholderImageOnLeft()
                    </ul>
              </div>
          </div>
      </div>
        <div class="dwcontent" id="maincontent" title="Main Content" settings="unwrap:true"></div>
      </div><!-- .post-content -->
    </article><!-- .post-wrapper -->

                    
          <!-- Mid ad -->
       
          <!-- End Mid ad -->
</div><!-- End Left big column -->

<div class="col-md-4" data-stickycolumn>
  <div style="display: none;"><a href='/Default.aspx?ID=@GetPageIdByNavigationTag("companii")' class="read-more">@Translate("Profil companie", "Profil companie")</a></div>
  @Include("Custom/Sidebar.cshtml")
</div><!-- End last column -->        
</div><!-- .blog-content -->
<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-26068739-1', 'auto');


// START DIMENSIUNI

// DIMENSIUNI PENTRU Romanian Industry Zoom:
  //var dw_editie = 'NUMAR_EDITIE';
  //var dw_autor = '';
  //var dw_companie = 'NUME_COMPANIE';
  //var dw_data_aparitie = 'DATA_APARITIE'; // format dd.mm.yyyy

  //ga('set', 'dimension1', dw_editie);
//ga('set', 'dimension2', dw_autor);
  //ga('set', 'dimension3', dw_companie);
  //ga('set', 'dimension9', dw_data_aparitie);

// END DIMENSIUNI


ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

<!-- Handlebars Template-->
<script id="LoopAutoriTemplate" type="text/x-handlebars-template">
    {{#ArticlesContainer}}
        {{#each Article}}
            <article class="simple-post simple-big clearfix col-md-12 separator-articole media">		
                <div class="simple-thumb media-left media-top" style="width: 265px;">
                 	<a href="{{Link}}">
                 	  <figure class="image-overlay">
                 	    <img src="/Admin/Public/GetImage.ashx?Image={{itemImaginePrincipala}}&AlternativeImage=/Files/Images/Articole/download (1).png&Crop=5&Format=jpg&Width=350&Height=230&bgcolor=white">
                 	  </figure>
                 	</a> 
            </div>

              <header class="media-body">
            <p class="simple-share" style="color: #bbbbbb; font-weight: 400;">
                
                <span style="margin: 0;">/</span>
                @Translate("articolde","de")
                 {{#each articleAutori}}
              <a href="{{Link}}" class="link-autor" style="color: #999999 !important; font-weight: 400 !important;">{{Name}}</a>
                 {{/each}}      
                <span class="article-date"><i class="fa fa-clock-o"></i> {{itemData}}</span>
            </p>

            <h3>
              <a href="/Default.aspx?ID={{pagePageID}}">{{itemTitlu}}</a>
            </h3>

            {{{itemSumar}}}
            </header>
             </article> 
        {{/each}}
    {{/ArticlesContainer}}
</script>

<script id="LoopAutorTemplate" type="text/x-handlebars-template">
    {{#Autori}}
        <h1 class="block-title">
         <span>Articole {{name}}</span>
         </h1><!-- .post-title -->
         {{#ifCond persoana_companie "===" "Companie"}}
            <a class="btn btn-primary view-company" href="/companie?companyID={{paginaDeCompanieAsociata}}">@Translate("Vezi Compania", "Vezi Compania")</a>
         {{/ifCond}}
         {{#ifCond persoana_companie "===" "Persoana"}}
             <div class="author-box clearfix ">
                <div class="author-avatar">

                    <img alt="" src="/Admin/Public/GetImage.ashx?Image={{itemImaginePrincipala}}&AlternativeImage=/Files/Images/Articole/download (1).png&Crop=5&Format=jpg&Width=100&Height=150&bgcolor=white" >

                </div>
                <div class="author-info">
                  <h3><a href="">{{name}}</a></h3>
                    <p class="author-bio">{{{description}}} </p>
                    <div class="author-contact"></div>
                </div>
             </div>
         {{/ifCond}}
    {{/Autori}}
</script>