@MasterPageFile("Master.cshtml")
@using Dynamicweb.Content;
@{
    var redactoriPageID = GetPageIdByNavigationTag("RedactoriFeed").ToString();
    var url = "/Default.aspx?ID=" + redactoriPageID;
}
@Include("Includes/ArticleHelper.cshtml")
@Include("Includes/New_PlaceholderHelpers.cshtml")

<h1 class="block-title"><span>@GetString("DwPageName")</span></h1>

<div class="row">
    <div class="col-md-8">
        <div class="first-container row" data-template="RedactoriTemplate" data-json-feed="@url">
            @RenderPlaceholderImageOnLeft()
            @RenderPlaceholderImageOnLeft()
            @RenderPlaceholderImageOnLeft()
            @RenderPlaceholderImageOnLeft()
            @RenderPlaceholderImageOnLeft()
        </div>
        <div class="dwcontent" id="mainContent" title="Main Content" data-settings="unwrap:true"></div>
    </div>

    <div class="col-md-4"><!--aici incepe sidebar-->
        <aside class="sidebar clearfix">
            @Include("Custom/New_Sidebar.cshtml")
        </aside>
    </div>
</div>
<div id="loader"><div class="loader-icon"></div></div>
<script id="RedactoriTemplate" type="text/x-handlebars-template">
{{#Redactori}}
    <div class="author-box clearfix">
        <div class="author-avatar">
         <img alt="" src='{{imagine}}' class="avatar" height="110" width="110">
          </a>
        </div>
        <div class="author-info">
          <h3>{{nume}}</h3>
          <p><strong>{{functie}}</strong></p>
          <span class="author-bio">
            {{{descriere}}}
          </span>          
        </div>
    </div>
{{/Redactori}}
</script>