@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering
@using Dynamicweb.Content
@using BrandFusion.Dw.eCommerce
@using Dynamicweb.Ecommerce.Products
@using BrandFusion.Dw.TTOnline;

@GetValue("Title(Article page)")
@GetValue("Description(Pagina de articol)")
@Include("Includes/ArticleHelper.cshtml")

@Include("Includes/GetImage_new.cshtml")

@Include("Includes/VerifyImage.cshtml")

@MasterPageFile("Master.cshtml")
@using System.Web

@* @Include("Includes/ArticleHelper.cshtml") *@

@* @Include("Custom/GlobalVariables.cshtml") *@

@* <link rel="stylesheet" href="/Files/Templates/ItemPublisher/ItemPublisher.css" /> *@


@{
    var idCompanie = HttpContext.Current.Request["CompanyID"];
    Dynamicweb.Content.Items.Item companie = null;

    if (!string.IsNullOrEmpty(idCompanie)){
        companie = Dynamicweb.Content.Items.Item.GetItemById("Taxonomie_Companii", idCompanie);
                    

    if(companie != null){
            //begin content

            var MissingFoto = "http://placehold.it/100x100";
            var MissingBanner = "http://placehold.it/1170x250";
			
            var Name = companie["Name"];
			string NameRaw = Name != "" ? Name.ToString(): "";
            var ID = companie["Id"]; 
			string IDRaw = ID !=""?ID.ToString(): "";
            string LogoS = companie["Logo"] != null ? companie["Logo"].ToString(): "";
            var Logo = !string.IsNullOrEmpty(LogoS) ? LogoS : MissingFoto;
            string BannerS = companie["Banner"] !=null ? companie["Banner"].ToString():"";
            var BannerRaw = !string.IsNullOrEmpty(BannerS) ? BannerS : "";
		
			
     		string Banner = !string.IsNullOrEmpty(BannerRaw) ? GetImage(BannerRaw, 1140, 400) : "";

			
            string ImgProfilS = companie["ImgProfil"] != null ? companie["ImgProfil"].ToString(): "";
            var ImgProfil = !string.IsNullOrEmpty(ImgProfilS) ? ImgProfilS : MissingFoto;  
            string SummaryS = companie["Summary"] !=null ? companie["Summary"].ToString(): "";
            var Summary = !string.IsNullOrEmpty(SummaryS) ? SummaryS : "";
            string OldTidS = companie["OldTid"] !=null ? companie["OldTid"].ToString(): "";
            var OldTid = !string.IsNullOrEmpty(OldTidS) ? OldTidS: "Missing OldTid";
            string DateContactS = companie["DateContact"] !=null ? companie["DateContact"].ToString(): "";
            var DateContact = !string.IsNullOrEmpty(DateContactS) ? DateContactS: "Missing DateContact";
			bool AfiseazaJobs = companie["Afiseaza_Jobs"] != null ? (bool)companie["Afiseaza_Jobs"]: false;
			bool AfiseazaArticole = companie["Afiseaza_Articole"] != null ? (bool)companie["Afiseaza_Articole"]: false;
			bool AfiseazaStiri = companie["Afiseaza_Stiri"] != null ? (bool)companie["Afiseaza_Stiri"]: false;
            var DescriptionS = companie["Description"] !=null ? companie["Description"].ToString(): "";
			string Description = !string.IsNullOrEmpty(DescriptionS) ? DescriptionS:"Missing Description";
			var MapContactS = companie["MapContact"] !=null ? companie["MapContact"].ToString(): "";
			string MapContact = !string.IsNullOrEmpty(MapContactS) ? MapContactS:"Missing MapContact";
			var EnvelopeContactS = companie["EnvelopeContact"] !=null ? companie["EnvelopeContact"].ToString(): "";
			string EnvelopeContact = !string.IsNullOrEmpty(EnvelopeContactS) ? EnvelopeContactS:"Missing EnvelopeContact";
			var PhoneContactS = companie["PhoneContact"] !=null ? companie["PhoneContact"].ToString(): "";
			string PhoneContact = !string.IsNullOrEmpty(PhoneContactS) ? PhoneContactS:"Missing PhoneContact";
			var GlobeContactS = companie["GlobeContact"] !=null ? companie["GlobeContact"].ToString(): "";
			string GlobeContact = !string.IsNullOrEmpty(GlobeContactS) ? GlobeContactS:"Missing GlobeContact";
            string Tara = companie["Tara"] !=null ? companie["Tara"].ToString(): "";
            string Oras = companie["Oras"] !=null ? companie["Oras"].ToString(): "";
			string Strada = companie["Strada"] !=null ? companie["Strada"].ToString(): "";
			string CodPostal = companie["Cod_Postal"] !=null ? companie["Cod_Postal"].ToString(): "";
			string LinkCatreSiteS = companie["LinkCatreSite"] !=null ? companie["LinkCatreSite"].ToString(): "";
			string LinkCatreSite = !string.IsNullOrEmpty(LinkCatreSiteS) ? LinkCatreSiteS:"";
			string FacebookLink = companie["SocialMediaFacebook"] !=null ? companie["SocialMediaFacebook"].ToString(): "";
			string TwitterLink = companie["SocialMediaTwitter"] !=null ? companie["SocialMediaTwitter"].ToString(): "";
			string LinkedinLink = companie["SocialMediaLinkedin"] !=null ? companie["SocialMediaLinkedin"].ToString(): "";
			string DeclaratieManager = companie["DeclaratieManager"] !=null ? companie["DeclaratieManager"].ToString(): ""; 
			string ImagineProfilS = companie["ImgProfil"] !=null ? companie["ImgProfil"].ToString(): "";
            var ImagineProfil = !string.IsNullOrEmpty(ImagineProfilS) ? ImagineProfilS : "#";
			string DescriereCompanie = companie["Description"] !=null ? companie["Description"].ToString(): "";
			string Email = companie["Email"] !=null ? companie["Email"].ToString(): "";
			string Character = "@";			
			string URLPaginaDealerProducator = companie["URLPagina_Dealer_Producator"] !=null ? companie["URLPagina_Dealer_Producator"].ToString(): "";
            bool Contactform = companie["Contacteaza_ne"] != null ? (bool)companie["Contacteaza_ne"]: false;
			string Geolocatie = companie["Geolocation"] != null ? companie["Geolocation"].ToString() : "";
            string TipClient = companie["TipClient"] !=null ? companie["TipClient"].ToString(): "";
			string TIP_PARTENER = TipClient == "1" ? "Starter" : TipClient == "2" ? "Standard" : TipClient == "3" ? "Profesional" : TipClient == "4" ? "Premium" : "" ;
			string CATEGORIE_PARTENER = companie["Sectiune"] !=null ? companie["Sectiune"].ToString(): "";
  			
            bool AfiseazaBandaSubBranduri = companie["BandaSubbranduri"] != null ? (bool)companie["BandaSubbranduri"]: false;
            int BandaSubBranduri = companie["Banda_Sub_Branduri"] != null ? (int)companie["Banda_Sub_Branduri"] : 0 ;
			string ProduseReprezentativeID = companie["RepresentativeProducts"] != null ? companie["RepresentativeProducts"].ToString(): "";
			 var ProduseReprezentative = ProductFacade.GetItemTypeProducts(companie["RepresentativeProducts"]);
           string linkToateArticole ="";//TTOnlineUrlFacade.GenerateLinkForCompanii2(IDRaw, NameRaw); 

        if(TipClient == "1"){

@Include("/Files/Templates/Designs/TTonline/Companie Starter.cshtml");
} else{ 
if(TipClient == "2"){
@Include("/Files/Templates/Designs/TTonline/Companie Starter.cshtml");
@Include("/Files/Templates/Designs/TTonline/Companie Standard.cshtml");
}else {
if(TipClient == "3"){
@Include("/Files/Templates/Designs/TTonline/Companie Starter.cshtml");

@Include("/Files/Templates/Designs/TTonline/Companie Profesional.cshtml");

}else{
@Include("/Files/Templates/Designs/TTonline/Companie Starter.cshtml");

@Include("/Files/Templates/Designs/TTonline/Companie Profesional.cshtml");
@Include("/Files/Templates/Designs/TTonline/Companie Premium Default.cshtml");

}
}
}

if(Contactform == true){
<div class="row row-companie mb-40  background-white">
<div class="col-xs-12 col-titlu-companie"><h3> <i class="fa fa-globe fa-2x" aria-hidden="true"></i><span>Localizare</span></h3></div>
<!-- Harta Start-->
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 pbt-20">
        <div class="maps">                      
            <div id="map-canvas" class="premium-map-canvas" data-lat="" data-lng=""  data-geolocation='@Geolocatie' data-zoom="14"></div>                
            <div class="addresses-block">
              <a class="premium-map-marker" data-lat="" data-lng="" data-string='@Strada @Oras @Tara'></a>
            </div>                        
        </div> 
    </div>
<!-- Harta End-->

<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pbt-20">
  
    <h5>Contacteaza @Name</h5>
      <div data-nume="@Name" class="form-wrapper">
    @RenderParagraphContent(120)
      </div>
    </div> 
</div>
}else{
<div class="row row-companie mb-40  background-white">
<div class="col-xs-12 col-titlu-companie"><h3> <i class="fa fa-globe fa-2x" aria-hidden="true"></i><span>Localizare</span></h3></div>
	<!-- Harta Start-->                                 
	<h1>test</h1>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pbt-20">
        <div class="maps">                      
            <div id="map-canvas" class="premium-map-canvas" data-lat="" data-lng=""  data-geolocation='@Geolocatie' data-zoom="14"></div>                
            <div class="addresses-block">
              <a class="premium-map-marker" data-lat="" data-lng="" data-string='@Strada @Oras @Tara'></a>
            </div>                        
        </div> 
    </div>
	<!-- Harta End-->
</div>
}



<!-- Google Analytics -->
<script>
window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
ga('create', 'UA-26068739-1', 'auto');


// START DIMENSIUNI

// DIMENSIUNI PENTRU Business Directory
var dw_bd_tip = '@TIP_PARTENER'; // Standard/Starter/Profesional/Premium
var dw_bd_categorie = '@CATEGORIE_PARTENER';

ga('set', 'dimension7', dw_bd_tip);
ga('set', 'dimension8', dw_bd_categorie);

// END DIMENSIUNI


ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

    }
}
}

<!-- Go to www.addthis.com/dashboard to customize your tools --> 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5941501b1be8de2c"></script> 

<!-- Google map api -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=@GetString("Item.Area.GoogleKey")"></script> 
