@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering;

@{
    Dynamicweb.Content.Items.Item item = Pageview.Area.Item;
    string domain = "http://" + System.Web.HttpContext.Current.Request.Url.Host;
    string longLang = Pageview.GlobalTags.GetTagByName("Global:Area.LongLang").Value.ToString();

    string fontSize = "font-size:12px;",
           fontFamily = "font-size : 24px; @fontFamily3",
           fontSize14 = "font-size: 14px;",
           fontSize12 = "font-size: 12px;",
           fontFamily2 = "font-family: Arial, sans-serif;",
           fontFamily3 = "font-family: Helvetica, Arial, sans-serif;",
           color1 = "#666666;",
           color2 = "#333333",
           color3 = "#ffffff";

    List<LoopItem> socialMedia = GetLoop("Item.Area.SocialNetworks");
}

@helper BuildHeading(string color3,string fontFamily3,string color1)
{
    <head>
        <title>Email</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <style type="text/css">
            #outlook a {
                padding: 0;
                margin: 0;
            }

            body {
                width: 100% !important;
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
                margin: 0;
                padding: 0;
                background-color: @color3;
            }

            .ExternalClass { width: 100%; }

            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
                mso-line-height-rule: exactly;
                line-height: 100%;
            }

            #backgroundTable {
                margin: 0;
                padding: 0;
                width: 100% !important;
                mso-line-height-rule: exactly;
                line-height: 100% !important;
            }

            img {
                outline: none;
                text-decoration: none;
                -ms-interpolation-mode: bicubic;
                display: block;
                border: 0 none;
            }

            a img { border: 0 none; }

            .image_fix { display: block; }

            p {
                margin: 0 0;
                font-size: 14px;
                line-height: 20px;
            }

            div {
                padding: 0;
                margin: 0;
            }

            table td {
                border-collapse: collapse;
                font-size: 14px;
                @fontFamily3
            }

            table {
                border-collapse: collapse;
                mso-table-lspace: 0pt;
                mso-table-rspace: 0pt;
            }

            a {
                text-decoration: underline;
                padding: 0;
                margin: 0;
            }

            a:hover { text-decoration: none; }

            p {
                font-size: 14px;
                line-height: 16px;
                line-height: 20px;
                margin: 0px;
                @fontFamily3
            }

            /* CLIENT-SPECIFIC STYLES */

            #outlook a { padding: 0; }

            /* Force Outlook to provide a "view in browser" message */

            .ReadMsgBody { width: 100%; }

            .ExternalClass { width: 100%; }

            /* Force Hotmail to display emails at full width */

            .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }

            /* Force Hotmail to display normal line spacing */

            body, table, td, a {
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
            }

            /* Prevent WebKit and Windows mobile changing default text sizes */

            table, td {
                mso-table-lspace: 0pt;
                mso-table-rspace: 0pt;
            }

            /* Remove spacing between tables in Outlook 2007 and up */

            img { -ms-interpolation-mode: bicubic; }

            /* Allow smoother rendering of resized image in Internet Explorer */

            /* RESET STYLES */

            body, body p {
                margin: 0;
                padding: 0;
            }

            img {
                border: 0;
                height: auto;
                line-height: 100%;
                outline: none;
                text-decoration: none;
            }

            table { border-collapse: collapse !important; }

            body {
                height: 100% !important;
                margin: 0;
                padding: 0;
                width: 100% !important;
            }

            /* iOS BLUE LINKS */

            .appleBody a { color: @color1 text-decoration:none; }

            .appleFooter a { color: @color1 text-decoration:none; }

            /* MOBILE STYLES */

            @@media screen and (max-width: 525px) {
                /* ALLOWS FOR FLUID TABLES */
                table[class="wrapper"] { width: 100% !important; }

                /* ADJUSTS LAYOUT OF LOGO IMAGE */
                td[class="logo"] {
                    text-align: left;
                    padding: 20px 0 20px 0 !important;
                }

                td[class="logo"] img { margin: 0 auto !important; }

                /* USE THESE CLASSES TO HIDE CONTENT ON MOBILE */
                td[class="mobile-hide"] { display: none; }

                img[class="mobile-hide"] { display: none !important; }

                img[class="img-max"] {
                    max-width: 100% !important;
                    width: 100% !important;
                    height: auto !important;
                }

                /* FULL-WIDTH TABLES */
                table[class="responsive-table"],
                .responsive-table {
                    width: 100% !important;
                    display: table;
                }

                /* UTILITY CLASSES FOR ADJUSTING PADDING ON MOBILE */
                td[class="padding"] { padding: 10px 5% 15px 5% !important; }

                td[class="padding-copy"] {
                    padding: 10px 5% 10px 5% !important;
                    text-align: center;
                }

                td[class="padding-meta"] {
                    padding: 30px 5% 0px 5% !important;
                    text-align: center;
                }

                td[class="no-pad"] { padding: 0 0 20px 0 !important; }

                td[class="no-padding"] { padding: 0 !important; }

                td[class="section-padding"] { padding: 50px 15px 50px 15px !important; }

                td[class="section-padding-bottom-image"] { padding: 10px 15px 0 15px !important; }

                /* ADJUST BUTTONS ON MOBILE */
                td[class="mobile-wrapper"] { padding: 10px 5% 15px 5% !important; }

                table[class="mobile-button-container"] {
                    margin: 0 auto;
                    width: 100% !important;
                }

                a[class="mobile-button"] {
                    width: 80% !important;
                    padding: 4px !important;
                    border: 0 !important;
                    font-size: 16px !important;
                    border-radius: 3px;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                }

                .clearLeft { clear: left; }

                .preheader {
                    display: none !important;
                    visibility: hidden;
                    opacity: 0;
                    color: transparent;
                    height: 0;
                    width: 0;
                }
            }
        </style>
    </head>
}

@helper BuildFooter(List<LoopItem> socialMedia,string color3, string fontSize12, string fontFamily3, string color1, Dynamicweb.Content.Items.Item item)
{
    if (socialMedia.Any())
    {
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td bgcolor="@color3" align="center" style="padding: 20px 0px; ">
                    <table width="700" border="0" cellspacing="0" cellpadding="0" align="center" class="responsive-table">
                        <tr>
                            <td align="left" style="@fontSize12 line-height: 18px; @fontFamily3 color: @color1">
                                @foreach (LoopItem socialItem in socialMedia)
                                {
                                    string className = socialItem.GetString("Item.Area.SocialNetworks.Icon"),
                                        socialName = socialItem.GetString("Item.Area.SocialNetworks.Name");

                                    <a title="@socialName" target="_blank" href="@socialItem.GetString("Item.Area.SocialNetworks.Link")"> @socialName </a>
                                }
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    }

    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td bgcolor="@color3" align="center" style="padding: 20px 0px; ">
                <table width="700" border="0" cellspacing="0" cellpadding="0" align="center" class="responsive-table">
                    <tr>
                        <td align="left" style="@fontSize12 line-height: 18px; @fontFamily3 color: @color1 border-top: 1px solid #ddd; padding-top: 15px;">
                            <span class="appleFooter" style="color: @color1">&copy; @item["Copyright"] - @DateTime.Now.Year @item["CompanyName"] </span><br/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <script>
        document.getElementById("remove").style.display = "none";
        document.getElementById("remove2").style.display = "none";
    </script>
}

@helper BuildLinksHeader(string fontSize14, string fontFamily2, string color1, string color2, string color3, string designName, string domain, Dynamicweb.Content.Items.Item item, string receiptUrl, string preHeader, bool showLinkToPage = true)
{
    <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
        @if(!string.IsNullOrWhiteSpace(preHeader)) {
            <tr id="remove">
                <td style="@fontSize14 @fontFamily2 color: @color3 text-decoration:none; display:none !important;visibility:hidden;mso-hide:all;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;" width="100%" height="5" align="center">
                    <span class="preheader" style="color:transparent; display:none !important; height:0; opacity:0; visibility:hidden; width:0">@preHeader</span>
                </td>
            </tr>
        }
        @if(showLinkToPage) {
        <tr id="remove2">
            <td style="@fontSize14 @fontFamily2 color: @color1 text-decoration:none;" width="100%" height="20" align="center">
                <br/>@Translate("viewReceiptCorrectly","If this email is not being shown properly, click") <a style="@fontSize14 @fontFamily2 color: @color1 text-decoration:underline;" href="@receiptUrl">@Translate("here", "here")</a>
            </td>
        </tr>
            <tr>
                <td height="30"></td>
            </tr>
        }
        <tr>
            <td>
                <div align="center" style="padding: 0px 15px 0px 15px;">
                    <table border="0" cellpadding="0" cellspacing="0" width="700" class="responsive-table">
                        <tr>
                            <td style="padding: 20px 0px 20px 0px;" class="logo">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%"> 
                                    <tr>
                                        <td width="300" align="left">
                                            <a href="@domain/Default.aspx?AreaId=@Pageview.AreaID" target="_blank">
                                                <img style="max-width: 100%" class="img-max" src="@domain/Files/Templates/Designs/@designName/images/martecLogo.png" alt='@item["CompanyName"]' title='@item["CompanyName"]' />
                                            </a>
                                        </td>
                                        <td width="200" align="right" class="mobile-hide">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td align="right" style="padding: 0 0 5px 0; @fontSize14 @fontFamily2 color: @color1 text-decoration: none;"><span style="color: @color1 text-decoration: none;"></span></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
}