@inherits RazorTemplateBase<RazorTemplateModel<Template>>
@using Dynamicweb.Rendering
@using Dynamicweb.Content
@using System.Linq;
@using System.Web;

@Include("../Custom/GlobalVariables.cshtml")
@Include("../Includes/GetImage_new.cshtml")
@Include("../Includes/New_PlaceholderHelpers.cshtml")


@{
    string Producator = System.Web.HttpContext.Current.Request["Producator"] != null ? System.Web.HttpContext.Current.Request["Producator"].ToString(): "";
    string Dealer = System.Web.HttpContext.Current.Request["Dealer"] != null ? System.Web.HttpContext.Current.Request["Dealer"].ToString(): "";
	var pageId = GetPageIdByNavigationTag("ProductsFeed");
	var productsIDs = "";
	foreach (LoopItem i in GetLoop("Item.Produse"))
	{
		productsIDs += i.GetString("Ecom:Product.ID")+ ",";
	}
}
<style>
  .owl-carousel .owl-item img {width:auto!important;}
</style>
<div class="col-md-12">
	<h3 class="block-title"><span>@GetString("Item.Titlu")</span></h3>
    <div class="carousel-produse">
        <div class="owl-carousel owl-theme handlebars-wrapper" data-template="CaruselProduseTemplate" data-slides-number="4" data-json-feed="/Default.aspx?ID=@pageId&Promoted=@productsIDs">
            <div class="col-md-12">
                        @RenderPlaceholderCaruselText()
            </div>
        </div>
    </div>
</div>

<script id="CaruselProduseTemplate" type="text/x-handlebars-template">
{{#each Product}}
    <div class="item">      
        @if(Dealer == "" && Producator == "") {
            <div class="col-xs-12 margin-15">
              <div class="produs-col-background">  
                    <div class="row" >
                      <div class="col-xs-12">
                         <div class="product-image">
                              <a href="{{link}}" class="overlay-link">
                                  <figure class=""> 
                                      @{
                                          <img src="/Admin/Public/GetImage.ashx?Image={{image}}&AlternativeImage=/Files/Images/Articole/download (1).png&Crop=5&Format=jpg&Width=350&Height=230&bgcolor=white" alt='{{name}}' class="img-responsive"/>             
                                      }
                                   <div class="stickers-container stickers-container--top-left hidden">
                                      <div class="sticker sticker--new">New!</div>
                                    </div>
                                    <div class="stickers-container stickers-container--top-right hidden">
                                       <div class="sticker sticker--new">Sale!</div>
                                    </div>
                                  </figure>
                              </a>
                         </div>
                       </div>
                    </div>
                    <div class="row row-promotii-produs">
                        <div class="col-xs-12">
                            {{#if afisarePromotie}}
                                  <div class="promotie">
                                    <span class="detalii-produs" ><text><strong>@Translate("Promotie", "Promotie")</strong></text></span>
                                  </div>
                            {{/if}}
                        
                            {{#ifCond priceProductDB ">" 0}}
                                <div class="pret-produs pull-right">
                                    <a href="{{link}}">
                                    <span class="detalii-produs" ><text>{{priceProductDB}} LEI</text></span>
                                    </a>
                                </div>
                            {{/ifCond}}
                        </div>
                    </div>
                    
                 <div class="row">
                    <div class="col-xs-12">
                      <h5 class="titlu-produs-lista news-title" ><a href="{{link}}">{{name}}</a></h5>
                    </div>
                  </div>
                  
                <div class="row min-height-40">
                 <div class="col-xs-12">
                       {{#ifCond manufacturer "!==" ""}}
                          <div class="col-xs-6" >      
                               <p class="simple-share manufacturer">
                                 <text class="trim-text trim-lines-2">@Translate("manufacturer", "Producator"):</text>         
                               </p>
                          </div>
                        <div class="col-xs-6">
                          <p class="simple-share manufacturer">
                           {{#ifCond manufacturerLink "!==" ""}}
                                <a href="{{manufacturerLink}}"><span class="black-font">{{manufacturer}}</span></a>
                           {{/ifCond}}
                           {{#ifCond manufacturerLink "===" ""}}
                                <span class="black-font">{{manufacturer}} </span>
                           {{/ifCond}}
                          </p>
                        </div>
                       {{/ifCond}}
                   </div>
                </div>     

                <div class="row min-height-30">
                  <div class="col-xs-12">
                      <div class="col-xs-6 text-center">      
                           <p class="simple-share manufacturer">
                            <text>@Translate("Furnizor", "Furnizor"):</text>         
                           </p>
                        </div>
                      
                        <div class="col-xs-6 text-center">
                          <p class="simple-share manufacturer">
                         <text class="trim-text trim-lines-2 black-font">{{dealerResult}}</text>
                          </p>
                        </div>
                   </div>
                </div>

                  <div class="row">
                      <div class="col-xs-12 col-butoane-lista">
                          <div class="col-xs-6">
                              <a href data-toggle="modal" data-target="#modalformularoferta1" class="buton-oferta-lista">
                                <span class="detalii-produs">
                                  <text>@Translate("Cere Oferta", "Cere Oferta")</text>
                                </span>
                              </a>                    
                           </div>                

                           <div class="col-xs-6">
                              <a href="{{link}}" class="buton-detalii-lista"><span><text>@Translate("Vezi detalii", "Vezi detalii")</text></span></a>
                            </div>            
                              
                            @SnippetStart("ProductCarouselModal")
                              <div class="modal fade bd-example-modal-sm" id="modalformularoferta1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  aria-hidden="true">
                                  <div class="modal-dialog modal-sm">
                                      <div class="modal-content" >
                                        <button type="button" class="btn btn-primary float-right" data-dismiss="modal">X</button>
                                        @RenderParagraphContent(120)
                                      </div>
                                      <div class="modal-footer">                            
                                      </div>
                                  </div>                      
                              </div>
                            @SnippetEnd("ProductCarouselModal")
                      </div>
                  </div>
              </div>
            </div>
        } else {
            if(Dealer != "" || Producator != ""){

            <div class="col-xs-12 col-sm-3 col-md-3 margin-15" >
              <div class="produs-col-background">  
                    <div class="row" >
                      <div class="col-xs-12">
                         <div class="product-image">
                              <a href="{{link}}" class="overlay-link">
                                  <figure class=""> 
                                      @{
                                          <img src="/Admin/Public/GetImage.ashx?Image={{image}}&Crop=5&Format=jpg&Width=350&Height=230&bgcolor=white" alt='{{name}}' class="img-responsive"/>             
                                      }
                                     <div class="stickers-container stickers-container--top-left hidden">
                                        <div class="sticker sticker--new">New!</div>
                                      </div>
                                      <div class="stickers-container stickers-container--top-right hidden">
                                         <div class="sticker sticker--new">Sale!</div>
                                      </div>
                                  </figure>
                              </a>
                         </div>
                       </div>
                    </div>
                    <div class="row row-promotii-produs">
                        <div class="col-xs-12">
                           {{#if afisarePromotie}}
                                  <div class="promotie">
                                    <span class="detalii-produs" ><text><strong>@Translate("Promotie", "Promotie")</strong></text></span>
                                  </div>
                           {{/if}}
                        
                            {{#ifCond priceProductDB ">" 0 }}
                                <div class="pret-produs pull-right">
                                    <a href="{{link}}">
                                    <span class="detalii-produs" ><text>{{priceProductDB}} LEI</text></span>
                                    </a>
                                </div>
                            {{/ifCond}}
                        </div>
                    </div>

                 <div class="row">
                    <div class="col-xs-12">
                      <h5 class="titlu-produs-lista news-title"><a href="{{link}}">{{name}}</a></h5>
                    </div>
                  </div>

                <div class="row min-height-40">
                 <div class="col-xs-12">
                        {{#ifCond manufacturer "!==" ""}}
                          <div class="col-xs-4" >      
                               <p class="simple-share manufacturer">
                                 <text>@Translate("manufacturer", "Producator"):</text>         
                               </p>
                          </div>     
                        <div class="col-xs-8">
                          <p class="simple-share manufacturer">
                           {{#ifCond manufacturerLink "!==" ""}}
                                <a href="{{link}}"><span class="black-font">{{manufacturer}}</span></a>
                            {{/ifCond}}
                            {{#ifCond manufacturerLink "===" ""}}
                                <span class="black-font">{{manufacturer}}</span>
                            {{/ifCond}}
                          </p>
                        </div>
                       {{/ifCond}}
                   </div>
                </div>     

                <div class="row min-height-30">
                  <div class="col-xs-12"> 
                      <div class="col-xs-3 text-center">      
                           <p class="simple-share manufacturer">
                            <text>@Translate("Furnizor", "Furnizor"):</text>         
                           </p>
                        </div>
                        <div class="col-xs-9 text-center">
                          <p class="simple-share manufacturer">
                         <text class="black-font">{{dealerResult}} </text>
                          </p>
                        </div>
                   </div>
                </div>

                  <div class="row">
                      <div class="col-xs-12 col-butoane-lista">   
                          <div class="col-xs-6">
                              <a href data-toggle="modal" data-target="#modalformularoferta1" class="buton-oferta-lista">
                                <span class="detalii-produs">
                                  <text>@Translate("Cere Oferta", "Cere Oferta")</text>
                                </span>
                              </a>                     
                           </div>              
                           <div class="col-xs-6">
                              <a href="{{link}}" class="buton-detalii-lista"><span><text>@Translate("Vezi detalii", "Vezi detalii")</text></span></a>
                            </div>           
                              
                            @SnippetStart("ProductCarouselModal")
                              <div class="modal fade bd-example-modal-sm" id="modalformularoferta1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"  aria-hidden="true">
                                  <div class="modal-dialog modal-sm">
                                      <div class="modal-content" >
                                        <button type="button" class="btn btn-primary float-right" data-dismiss="modal">X</button>
                                        @RenderParagraphContent(120)
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-primary float-right" data-dismiss="modal">Inchide Formularul</button>
                                      </div>
                                  </div>                      
                              </div>            
                            @SnippetEnd("ProductCarouselModal")
                      </div>
                  </div>
              </div>
            </div>
            }
        }
    </div>   
{{/each}}       
</script>
  
  

