@using Dynamicweb.Frontend
@* @Include("GlobalVariables.cshtml") *@
@Include("../Includes/ArticleHelper.cshtml")
@*<p>Total articole: @GetInteger("Items.TotalCount")</p>*@


@{

  var Traninguri = GetLoop("Item.Traninguri"); 

  if(Traninguri.Any()) {   
    foreach(LoopItem item in Traninguri) {

      string TraningTitle = item.GetString("Item.Traninguri.Title.Value");
      var TraningDate = item.GetDate("Item.Traninguri.Data");  
      string VimeoCode = item.GetString("Item.Traninguri.VimeoCode.Value");
      string YouTubeCode = item.GetString("Item.Traninguri.YouTubeCode.Value");
      string TraningThumbnail = item.GetString("Item.Traninguri.Thumbnail.Value");
      string ThumbnailPDF = item.GetString("Item.Traninguri.Pdf.Value");
      string articleExcerpt = item.GetString("Item.Traninguri.Sumar");

      if(!string.IsNullOrEmpty(VimeoCode)) {
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <figure class="image-overlay">
          <a href="@VimeoCode">
            <img  class="img-responsive img-align" src="/Admin/Public/GetImage.ashx?Image=@TraningThumbnail&altFmImage_path=/Files/Images/NoImage/350x230.png&Format=jpg&Width=300&Height=400&Crop=0" alt="@TraningTitle"/>
          </a>
          </figure>
            <div class="div-traning col-xs-12">
            <div class="col-xs-12 training-title-media"><a href="@VimeoCode">@TraningTitle</a></div>
              <div class="col-xs-12 text-traning-media">
                <p class="text-traning">
                  @articleExcerpt
                </p>
              </div>
              <div class="col-xs-12 subtext-articol-traning">Afla mai multe</div>
            </div>
          </div>


      }
      else if(!string.IsNullOrEmpty(YouTubeCode)) {
                                  
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <figure class="image-overlay">
          <a href="@YouTubeCode">
            <img  class="img-responsive img-align" src="/Admin/Public/GetImage.ashx?Image=@TraningThumbnail&altFmImage_path=/Files/Images/NoImage/350x230.png&Format=jpg&Width=300&Height=400&Crop=0" alt="@TraningTitle"/>
          </a>
          </figure>
            <div class="div-traning col-xs-12">
              <div class="col-xs-12 training-title-media"><a href="@YouTubeCode">@TraningTitle</a></div>
              <div class="col-xs-12 text-traning-media">
              <p class="text-traning">@articleExcerpt</p>
            </div>
            <div class="col-xs-12 subtext-articol-traning">Afla mai multe</div>
          </div>
    </div>
      }
      else if(!string.IsNullOrEmpty(ThumbnailPDF)) {
              
               
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <figure class="image-overlay">
        <a href="@ThumbnailPDF">
          <img  class="img-responsive img-align" src="/Admin/Public/GetImage.ashx?Image=@TraningThumbnail&altFmImage_path=/Files/Images/NoImage/350x230.png&Format=jpg&Width=300&Height=400&Crop=0" alt="@TraningTitle"/>
        </a>
        </figure>
          <div class="div-traning col-xs-12">
          <div class="col-xs-12 training-title-media"><a href="@ThumbnailPDF">@TraningTitle</a></div>
                          <div class="col-xs-12 text-traning-media">
                          <p class="text-traning">
                                    @articleExcerpt
                                </p>
                                 </div>
                            <div class="col-xs-12 subtext-articol-traning">Afla mai multe</div>
                        </div>
                    </div>
      }
      else {          
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <figure class="image-overlay">
          <a href="@ThumbnailPDF"
            <img  class="img-responsive img-align" src="/Admin/Public/GetImage.ashx?Image=@TraningThumbnail&altFmImage_path=/Files/Images/NoImage/350x230.png&Format=jpg&Width=300&Height=400&Crop=0" alt="@TraningTitle"/>
          </a>
          </figure>
            <div class="div-traning col-xs-12">
              <div class="col-xs-12 training-title-media"><a href="@ThumbnailPDF">@TraningTitle</a></div>
              <div class="col-xs-12 text-traning-media">
                <p class="text-traning">
                  @articleExcerpt
                </p>
              </div>
              <div class="col-xs-12 subtext-articol-traning">Afla mai multe</div>
            </div>
          </div>
                    

                  }


    } @* End of foreach *@
  }@* end of getBoolean *@

} @* End of first brackett *@