@{
    int pageId = GetInteger("Global.PageId");
}
<aside class="sidebar clearfix" style="margin-top: 34px;">
    
    <div class="widget adwidget" style="margin-bottom:25px;" >
        @Include("Banners/BigBox1.cshtml")
    </div>
    
   
    @Include("Sidebar/New_Widget-Evenimente.cshtml")
  
    <div class="widget adwidget" style=" margin-top: 20px; margin-bottom:25px;" >
        @Include("Banners/BigBox2.cshtml")
    </div>
    
    @Include("Sidebar/New_Widget-Editorial.cshtml")
    @*Include("Sidebar/Widget-Facebook.cshtml")*@
    @*Include("Sidebar/Widget-Twitter.cshtml")*@
 
    @Include("Banners/4Small-Bigbox.cshtml")
  
</aside>