@{System.Globalization.TextInfo myTI = new System.Globalization.CultureInfo("en-US", false).TextInfo;

}

@Include("../../Custom/GlobalVariables.cshtml")


      <!--!User form start-->
	  @GetValue("UserManagement:User.FormStart")
	  <input type="hidden" name="ObjectID" value="<!--@Global:Extranet.UserID-->">
          <!--!Titular-->
          <div class="col-xs-6 col-xs-offset-3  content">
            
				@foreach(var i in GetLoop("FormValidationErrors")){
                      <div id="errormessages">
                          <ul>
                  
                              <li>Eroare in campul: "@i.GetValue("UserManagement:User.FormValidationError.FieldNiceName"): <a href="javascript:document.getElementById('@i.GetValue("UserManagement:User.FormValidationError.FieldName")').focus();">@i.GetValue("UserManagement:User.FormValidationError.Message")</a></li>
                  
                          </ul>
                      </div>
                  
              }
            <div class="account-header">
              <h2>Titular</h2>
            </div>
            <div class="account-content">
              <p>
                <label>@Translate("Name", "Name"): </label> <label class="toHide">@GetValue("UserManagement:User.Name")</label>
                <span class="hide">@GetValue("UserManagement:User.Name.Input")</span>
             </p>
            </div>
            
            
            <div class="account-header">
              <h3>@Translate("password", "password")</h3>
            </div>
            <div class="account-content pass">
              <div>
               @GetValue("UserManagement:User.OldPassword.Input")
	          <input name="UserManagement_Form_OldPassword" type="password" id="UserManagement_Form_OldPassword" value='@GetGlobalValue("Global:Extranet.Password")'></p>
              <p><label>@Translate("newpassword", "New password"):</label><br/>
                <input name="UserManagement_Form_NewPassword" type="password" id="UserManagement_Form_NewPassword" autocomplete="off"></p>
	              <p><label>@Translate("confirmpassword", "Confirm password"):</label><br/>
                    <input name="UserManagement_Form_NewPasswordConfirm" type="password" id="UserManagement_Form_NewPasswordConfirm" autocomplete="off"></p>
              </div>            
            </div>
            <input class="btn-main" type="submit" id="submitter" value='@Translate("save", "Save")'>
          </div>
          @GetValue("UserManagement:User.FormEnd")
          <!--!User form end-->
          