<div class="col-xs-12 col-sm-6 col-md-3">
   
  <article class="news-block small-block" style="margin-bottom: 110px;">
    <a href="@articleLink" class="overlay-link">
    <figure class="">
      @if(!String.IsNullOrEmpty(articleImageRaw)){
      <img src="@articleImage" alt="@articleTitle"/>
      }else{
      <img src="/Files/Images/NoImage/350x230.png" alt="@articleTitle"/> 
      }
    </figure>
    </a>

  
    <header class="news-details">
     
      <h3 class="news-title"><a href="@articleLink">@articleTitle</a></h3> 
      <p class="simple-share">
      
        @*@Translate("articolde","de")*@

        @foreach (var articleAutor in articleAutori)
        {
            <a href="@articleAutor.Link">@articleAutor.Name</a>
        }
<br/>
        <span><i class="fa fa-clock-o"></i> @articleDate.ToString("D")</span>
        @if (itemConditionVisits) {    
          <span><i class="fa fa-eye"></i> @articleVisits vizualizari</span>
        } 
      </p>
      
    </header>

   

  </article><!-- News block --> <p>
</div>

